.header,
.footer {
    background-color: #ececec;
    height: 50px;
}

.header {
    .logo {
        text-shadow: 2px -2px 10px gray;
        margin: 0;
    }
    .login-text {
        text-shadow: 2px -2px 10px gray;
    }
}

.main {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    .coloumn-header {
        text-align: center;
        h4 {
            text-shadow: 2px -2px 10px gray;
            margin: 16px 0 0 6px;
        }
    }
    .header-statitics {
        margin: 10px 0 0 6px;
    }

    .coloumn-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .coloumn-add-stat {
        background-color: #5da2d5;
    }
    .coloumn-tasks {
        background-color: #f3d250;
    }
    .coloumn-in-progress {
        background-color: #90ccf4;
    }
    .coloumn-finished {
        background-color: #f78888;
    }
}

.coloumn-add-stat,
.coloumn-tasks,
.coloumn-in-progress,
.coloumn-finished {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.add-task {
    border-radius: 5px;
    background-color: #90ccf4;
    box-shadow: 2px -2px 10px gray;
    .text-area {
        resize: none;
    }
    .div-deadline {
        width: 50%;
    }
    .div-btn-add {
        width: 50%;
    }
    .btn-add {
        width: 100%;
    }
}

.statitics {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    box-shadow: 2px -2px 10px gray;
    .li-statitics {
        background-color: #90ccf4;
    }
}

.task-card {
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 2px -2px 10px gray;
    width: 90%;

    .task-card-header {
        border-radius: 5px 5px 0 0;
        // background-color: #f7f7f7;
        border-bottom: 1px solid;
        border-color: #c9c7c7;
        text-align: right;
        padding: 2px 10px 0px;
        p {
            color: rgba(#000000, 0.7);
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }
    }
    .task-card-text {
        padding: 3px;
        background-color: rgba(#ffffff, 0.5);
        padding: 5px 10px 2px;
        p {
            color: rgba(#000000, 0.7);
            font-size: 14px;
            font-weight: 500;
            text-align: right;
            text-align-last: right;
            margin-bottom: 2px;
            // margin: 0;
        }
    }
    .task-card-footer {
        border-radius: 0 0 5px 5px;
        // background-color: #f7f7f7;
        background-color: #ffffff;
        border-top: 1px solid;
        border-color: #c9c7c7;
        display: flex;
        justify-content: end;
        padding: 0px 4px;
        p,
        i {
            font-size: 14px;
            font-weight: 500;
        }
        p {
            margin: 4px 6px;
        }
        .buttons {
            display: flex;
            justify-content: space-around;
        }
    }
}

// логин
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    .login-form {
        background-color: #ececec;
        border-radius: 5px;
        position: absolute;
        top: 15%;
        left: 8.5%;
    }
    .not-found {
        background-color: #ececec;
        border-radius: 5px;
        position: absolute;
        top: 30%;
        left: 8.25%;
        .numbers {
            font-size: 48px;
            font-weight: 600;
        }
    }
}
